<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="text-white">
    <%- include('./partials/header'); %>
    <div class="w-2/3 mx-auto mt-4 text-center">
        <p class="text-2xl mb-4">History</p>

        <table class="w-full text-center">
            <thead>
                <tr>
                    <th class="border-b">Amount</th>
                    <th class="border-b">Category</th>
                    <th class="border-b">Date</th>
                    <th class="border-b">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% expenses.forEach(exp => { %>
                    <tr class="py-2 hover:bg-surface-a10 transition">
                        <td><%= exp.amount %></td>
                        <td><%= exp.category %></td>
                        <td><%= exp.date %></td>
                        <td class="flex justify-center">
                            <form action="/expenses/<%= exp.id %>/change" method="post" class="m-0 p-2">
                                <button type="submit" class="text-primary-a0">Change</button>
                            </form>
                            <form action="/expenses/<%= exp.id %>/delete" method="post" onsubmit="return confirm('Delete this record?')" class="m-0 p-2">
                                <button type="submit" class="text-red-400">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
</html>

